<div class="modal fade" id="emoji-selector" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong>表情分组</strong>
      </div>
      <div class="modal-body">
       表情列表
      </div>
    </div>
  </div>
</div>