<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">修改回帖</div>
    <div class="panel-body">
      <%= form_for([@topic, @reply], remote: true) do |f| %>
        <%= f.text_area :body, size: '80x5' %> <br />
        <%= f.hidden_field :topic_id, value: @topic.id %>
        <%= f.submit '提交', class: 'btn btn-primary submit-reply-btn' %>
      <% end %>
    </div>
  </div>
</div>