/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*

# Ignore DS_Store
*.Ds_Store

# Ignore Byebug command history file.
.byebug_history

.idea/*
*.keep

coverage/*
db/schema.rb
dump.rdb

config/database.yml
config/redis.yml
config/secrets.yml
config/environments/*.local.yml
config/settings.yml
log/development.log
public/assets

!public/404.html
!public/422.html
!public/500.html
!public/favicon.ico

/tags
/doc
