<div class="panel panel-default" style="position: fixed;">
  <div class="panel-body">
    <div>
      <%= button_tag data: { id: @topic.id, table: @topic.class.name }, class: 'btn praise-btn' do %>
        <%= fa_icon praised?(@topic) ? 'thumbs-up 2x' : 'thumbs-o-up 2x' %>
        <div class='praises-count'><%= @topic.praises_count %> 个赞</div>
      <% end %>
    </div>

    <%= render @topic.node_id == 7 ? 'resource_sidebar' : 'topic_sidebar' %>
  </div>
</div>