<li><%= button_to '注册', new_user_registration_path, method: :get, class: 'btn btn-default signup-btn' %></li>
<li><%= button_to '登录', new_user_session_path, method: :get, class: 'btn btn-success login-btn' %></li>