<div class="main-container container">
 <div class="panel panel-default col-md-12">
   <div class="panel-body">
     <h1 style="text-align: center; color: #ff8700;">欢迎！</h1>
     <h6 class="text-center">这里还没想好放什么..</h6>
   </div>
 </div>
</div>