<div class="main-container container">
 <div class="panel panel-default col-md-12">
   <div class="panel-body">
     <h1 style="text-align: center; color: #ff8700;">欢迎！</h1>
     <h6 class="text-center">这里还没想好放什么..</h6>
     <h6 class="text-center">如果你有任何好的想法，欢迎与我联系. QQ 267286753</h6>
   </div>
 </div>
</div>