 <h1> 锦城之家 </h1>

<div class="user_nav">
	<%= button_to '登录', new_user_session_path %>
	<%= button_to '注册', new_user_registration_path, method: :get %>
	<%= button_to '登出', destroy_user_session_path, method: :delete %>
</div>

<div class="bg">
<div class="navigation">
	<span>重要通知</span>
	<span>晚点名</span>
	<span>下课聊</span>

</div>
</div>

	<div class="b">
		<p>这是重要通知</p>
	</div>