<div class="container">
  <div class="panel panel-info">
    <div class="panel-body media">
      <div class="media-left"><%= render 'menu', q: @q %></div>

      <div class="media-body setting-form">
        <%= form_for(@user, url: setting_path, html: { method: :put }) do |f| %>
          <%= render "shared/error_messages", target: @user %>

          <%= render @q, f: f %>
        <% end %>
      </div>
    </div>
  </div>
</div>