<div class="panel panel-default" style="position: fixed;">
  <div class="panel-body">
    <div>
        <%= button_to "我丢了", new_resource_path(type: 'lost'), class: 'btn btn-warning' %> <br />
        <%= button_to "我拾了", new_resource_path, class: 'btn btn-success' %>
    </div>
    
  </div>
</div>