/*
 *= require_tree .
 *= require_self
 *= require tooltipster.bundle
 */

@import 'bootstrap';
@import "font-awesome";

#flash_notice{ text-align: center; background: #feffcf; }
.flash-notice{ 
  text-align: center; 
  background: #feffcf;
  display: none;
  margin-left: 50%;
  margin-top: 10%;
  position: fixed;
  z-index: 99;
  padding: 13px;
}
.panel-info{ border-color: #bce8f1; }
.panel-info > .panel-heading{ color: #31708f; border-bottom: dashed 1px #bce8f1; }

.bg-nav{ box-shadow: 0 2px 5px #888888; }

.btn{ cursor: pointer; }
.dropdown-menu{ padding: 0.5rem 8px; }
.dropdown-menu a{ color: black; }
.dropdown-menu a:hover{ text-decoration: none; color: #0275D8; }

.divider{ border: solid 0.5px #e5f0fb; margin-top: 6px; }

.navbar-header{ float: left; }

.navbar-brand{ padding-top: 0; }

.user-bar{ float: right !important; }

.nav-body{
  float: left;
  margin-left: 140px;
}
.nav-body a{
  color: black;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
.nav-body a:hover{ color: orange; }
.nav-body li{ font-size: 18px; padding-left: 20px; }

.login-btn, .signup-btn{ width: 65px; height: 35px; cursor: pointer; margin-left: 1em; }
.cog{ margin-right: 16px; i{ color: #666; } }
.notify{ margin-right: 16px; }
