/*
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import "font-awesome";

.bg-nav{ box-shadow: 10px 5px 5px #888888; }

.dropdown{ cursor: pointer; }

.divider{ border: solid 0.5px #e5f0fb; }

.navbar-header{ float: left; }

.navbar-brand{ padding-top: 0; }

.user-bar{ float: right !important; }

.nav > li{ padding-left: 10px; }

.nav a{
  color: black;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav a:hover{ color: orange; }

.nav-body{
  float: left;
  margin-left: 140px;
}

.nav-body li{
  font-size: 18px;
}