/*
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import "font-awesome";

.navbar-header{
  float: left;
}

.user-bar{
  float: right !important;
}

.btn{
  cursor: pointer;
}

.nav > li{
  padding-left: 10px;
}