// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
	color: blue;
}

.user{
	margin-left: 80em;
}

.bg{
	background-color: #f0f8ff;
} 

.navigation{
	margin-left: 50px;
}

.b{
	width: 600px;
	height: 300px;
	border: solid 2px blue;
	margin-top: 20px;
}
.button_to{
	position: absolute;
	margin-top: -1.8em;
	margin-left: 17em;
}