// Place all the styles related to the replies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.reply-item{ padding: 0 !important; border-bottom: solid 1px #eee; }
.reply-user-info{
  background-color: #FAFBFC;
  border-right: 1px solid #C2D5E3;
  padding: 20px;
}
.reply-body{ padding: 20px; }
.reply-praise{ float: right; }
.reply-content{ min-height: 80px; }
.reply-date, .reply-floor{
  float: right; 
  font-size: 0.8rem;
  color: #999999;
}
.submit-reply-btn{ cursor: pointer; }

.edit{ display: none; float: right; font-size: 14px; margin-right: 10px; }
.edit:hover{ text-decoration: none; }
.visible{ display: none; }
.reply-body:hover .visible{ display: block; }

.popular{ background: #fffce9; }

