.resource-panel {
 background-color: skyblue;
 height: 220px;  
 width: 100%;
 float: left;
}

.desc { height: 80px; overflow: scroll; }
.detail { float: right; }

.res-title { text-align: center; font-size: 14px; color: red; }