@mixin basic-panel {
  height: 220px;
  width: 100%;
  float: left;
}

.index-panel {
 background-color: skyblue;
 @include basic-panel;
}

.found-panel {
 background-color: #5CB85C;
 @include basic-panel;
}

.desc { height: 80px; overflow: scroll; }
.detail { float: right; }

.res-title { text-align: center; font-size: 14px; color: red; }