@mixin basic-panel {
  height: 228px;
  width: 100%;
  float: left;
}

.index-panel {
 background-color: skyblue;
 @include basic-panel;
}

.found-panel {
 background-color: #5CB85C;
 @include basic-panel;
}

.desc { height: 80px; overflow: scroll; }
.detail { float: right; margin-top: 5px; }

.res-title {
  text-align: center;
  font-size: 14px;
  color: red;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#resource_title {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  width: 400px;
  padding: 5px;
}