// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-container{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.topic-container, .sidebar{ float: left; }

.topic-item{
  border-bottom: 1px solid #F0F0F0;
  padding: 10px 0;
}